body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}



/* The positioning of the pop up window*/
.modal {
  display: none;
  position: absolute; /* Stay in place */
  text-align: center;
  z-index: 1000; /* Sit on top */
  left: 50%;
  top: 7%;
  width: 38vw;
	transform: translate(-50%, -50%);
}



/* The content within the Pop Up Window */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 100%;
}


/* The positioning of the pop up window*/
.eclipseSelector {
  position: absolute; /* Stay in place */
  text-align: left;
  font-size: clamp(8px, 2vw, 12px); /* clamp(MIN, VAL, MAX) */
  font-family: 'Verdana', sans-serif;
  line-height: 0.2;
  z-index: 900; /* Sit on top but underneath the modal */
  left: 2vw;
  top: 0;
  width: 60vw;
}
